@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  font-family: "Krona One", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.ticket-container {
  margin: 20px 0;
}

.ticket-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 32px;
  width: 35px;
  margin: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(3) {
  margin-right: 38px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.4);
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
#span {
  float: right;
  margin-right: 12px;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 4px;
}
.row {
  display: flex;
}

p.text {
  margin: 15px 0;
}
p.text span {
  color: green;
}

.cta-btn {
  padding: 10px;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}
.modal {
  background-color: #30336b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 100%;
  width: 400px;
}
.modal-header {
  background-color: rgb(213, 212, 231);
  text-align: center;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
